<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="tcpIp" value="10.237.179.127"/>
    <add key="tcpListnerPort" value="5000"/>
    <add key="certificatePath" value="e:\acs\certificates\device.cer"/>
    <add key="CertficateKey" value="goforit"/>
    <add key="SSLEnabled" value="True"/>
    <add key="Endpoint" value="BasicEndpoint"/>
    <add key="TDMDBConnectionString" value="Server=bngtsiltp11662;User ID=sa;Password=login@123;Initial Catalog=XDMLite_Base;Connect Timeout=120"/>
  </appSettings>
  <system.serviceModel>
    <diagnostics>
      <messageLogging logMalformedMessages="true" logMessagesAtServiceLevel="true"
        logMessagesAtTransportLevel="true" />
    </diagnostics>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_soapCommunication" closeTimeout="00:10:00"
            openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00"
            allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
            maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
            messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
            useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
                  realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="SecureHttpBinding_soapCommunication"
            closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00"
            sendTimeout="00:10:00" allowCookies="false" bypassProxyOnLocal="false"
            hostNameComparisonMode="StrongWildcard" maxBufferSize="65536"
            maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
            messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
            useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="Transport" >
            <transport clientCredentialType="Certificate" proxyCredentialType="None" realm="" />
            <!--<message clientCredentialType="Certificate" algorithmSuite="Default"/>-->
          </security>
        </binding>
        <binding name="BasicEndpoint"
           closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00"
          sendTimeout="00:10:00"  allowCookies="false" bypassProxyOnLocal="false"
           hostNameComparisonMode="StrongWildcard"  maxBufferSize="65536"
            maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
            messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
            useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
                realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="SecuredEndpoint"
        closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00"
        sendTimeout="00:10:00" allowCookies="false" bypassProxyOnLocal="false"
        hostNameComparisonMode="StrongWildcard" maxBufferSize="65536"
        maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
        messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
        useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="Transport" >
            <transport clientCredentialType="Certificate" proxyCredentialType="None" realm="" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="TdmServiceDeviceBehavior">
          <serviceMetadata httpGetEnabled="True" httpGetUrl="http://127.0.0.1:6000/DeviceService" />          <!--for http remote command-->
          <!--<serviceMetadata httpGetEnabled="True" httpGetUrl="http://10.237.179.127:6000/DeviceService" httpsGetEnabled="true" />  --><!--for https remote command-->
          
          <!--*************************************should un-comment below certificate line if https service for remote command****************************************-->
          <!--<serviceCredentials>
            <clientCertificate>
              <authentication certificateValidationMode="Custom" customCertificateValidatorType="TestWcfDeviceService.CustomCertificateValidator,TestWcfDeviceService"/>
            </clientCertificate>
            <serviceCertificate findValue="‎‎9f6f48ddec604133ce2402fe649684090ccf8789" x509FindType="FindByThumbprint" storeLocation="LocalMachine" storeName="My" />
          </serviceCredentials>-->
          <!--*************************************End****************************************-->
          </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <!--added for client certificate-->
        <behavior name="securedCredentialBehavior">
          <clientCredentials>
            <clientCertificate findValue="9f6f48ddec604133ce2402fe649684090ccf8789" x509FindType="FindByThumbprint" storeLocation="LocalMachine" storeName="My"/>
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <services>
      <service name="TestWcfDeviceService.SoapCommunication.DeviceService" behaviorConfiguration="TdmServiceDeviceBehavior">
        <endpoint address="http://127.0.0.1:6000/DeviceService"
           behaviorConfiguration="" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_soapCommunication"
           contract="IDeviceService" name="BasicEndpoint" />
        <!--should un-comment below end point line if https service for remote command and do comment off above end point line-->
        <!--<endpoint address="https://127.0.0.1:6000/DeviceService"
           behaviorConfiguration="" binding="basicHttpBinding" bindingConfiguration="SecureHttpBinding_soapCommunication"
           contract="IDeviceService" name="SecuredEndpoint" />-->
        <!--<endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange" />-->
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <!--<add baseAddress="https://10.237.179.127:6000/DeviceService"/>            for https remote command-->
            <add baseAddress="http://127.0.0.1:6000/DeviceService"/>
          </baseAddresses>
        </host>        
      </service>
    </services>
    <client>
      <endpoint address="http://localhost:9000/TdmServiceDeviceInterface"
           binding="basicHttpBinding" bindingConfiguration="BasicEndpoint"
           contract="ITdmServiceDevice" name="BasicEndpoint" />
      <endpoint address="https://localhost:8000/TdmServiceDeviceInterface"
          binding="basicHttpBinding" bindingConfiguration="SecuredEndpoint"
          contract="ITdmServiceDevice" name="SecuredEndpoint" behaviorConfiguration="securedCredentialBehavior"/>
    </client>
  </system.serviceModel>
</configuration>